*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-blue:#149ddd;
}

body{
  overflow-x: hidden;
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
}

ul{
  padding-left: 0% !important;
  list-style: none;
}
a{
  text-decoration: none !important;
}

.main-cont{
  padding: 0% !important;
  position: relative;
  overflow: hidden;
}

.menuBar{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.menuBar div{
  width: 30px;
  height: 3px;
  margin-top: 4px;
  background-color: #ffffff;
  transition: 0.2s;
  
}

.menuBar div:nth-child(2){
  width: 22px;
}

.menuBar div:nth-child(3){
  width: 13px;
}


.row .left-section-cont{
  width: 300px;
  top: 0%;
  padding:0%;
  overflow: hidden;
  transition: 0.7s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.left-section{
  height: 100vh;
  width: 100%;
  background-color: #040b14;
  padding: 25px;
  overflow: auto;

}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px auto;
  position: relative;
}

.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.profile::before{
  content: '';
  position: absolute;
  width: 115px;
  height: 115px;
  background-color: rgba(255,255,255,0.2);
  top: -7.5px;
  left: -7.5px;
  border-radius: 50%;
  animation: size 2s linear infinite;
  
}

@keyframes size {
  0%,100%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.03);
  }
}

.left-section .social-icons a i{
  color: #fff;
  font-size: 16px;
}

.left-section .social-icons li{
  background-color: rgba(255,255,255,0.2);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.left-section .social-icons li:hover{
  background-color: rgb(47, 235, 235);
}

.menu i{
  color: #a8a9b4;
  margin-right: 30px;
  font-size: 18px;
  transition: 0.2s;
}

.menu li{
  padding: 20px;
  padding-left: 10px;
}

.left-section .menu a{
  display: inline-block;
  color: #a8a9b4;
}

.left-section .menu a:hover span{
    color: rgb(255, 255, 255);
}

.left-section .menu a:hover i{
    color:rgb(47, 235, 235);
    box-shadow: 0 0 5px rgb(47, 235, 235),0 0 15px rgb(47, 235, 235),0 0 25px rgba(47, 235, 235,0.5);
    border-radius: 50%;
}


/* right section starts */

.row .right-section-cont{
  width: calc(100% - 300px);
  padding:0%;
  overflow: hidden;
  margin-left: 300px;
}


.right-section header{
  width: 100%;
  min-height: 400px;
  height: 100vh;
  color: #fff;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
}


.right-section .text-cont{
  position: absolute;
  left: 10%;
  top: 20%;
}

.right-section .text-cont h1{
  font-size: 4rem;
}

.right-section .text-cont .typing{
  font-weight: bold;
  position: relative;
  transition: 0.5s;
}

.typing::after{
    content: "";
    position: absolute;
    right: -6px;
    width: 2.5px;
    height: 100%;
    background-color: white;
    animation: blink 0.5s linear infinite;
}

.typing::before{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: rgb(47, 235, 235);
  transform: 0.2s;
}

@keyframes blink {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 0.7;
  }
}

#home{
  background-image: url(./images/head3.jpg) ;
  background-attachment: fixed;
}


.slider{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.inner-slider{
  width: 100%;
  height: 100%;
}


.inner-slider .slide{
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  background-size: cover;
  background-attachment: fixed;
}

.inner-slider .slide:nth-child(1){
  background-image: url(./images/head1.jpg) ;
}

.inner-slider .slide:nth-child(2){
  background-image: url(./images/head2.jpg) ;
}

.inner-slider .slide:nth-child(3){
  background-image: url(./images/head3.jpg) ;
}


.inner-slider .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-slider .active-slide{
  opacity: 1;
  animation: activeSlide 1s linear;
}

@keyframes activeSlide{
  0%{
    transform: scale(2);
  } 

  100%{
    transform: scale(1);
  } 
}

.dots{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.726);
  margin: 0 5px;
  cursor: pointer;
}

.dots .active-dot{
  background-color: rgb(55, 243, 234);
  box-shadow: 0 0 0 7px rgba(55, 243, 234, 0.397) ;
}



section:nth-child(odd){
  background-color: rgb(171 215 241 / 22%);
}


.section-heading{
  color: #173b6c;
  position: relative;
}

.section-heading::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: rgb(0, 162, 255);
  left: 0%;
  bottom: -4px;
}

section .progress-bar{
  height: 8px;
  width: 100%;
  background-color: rgba(187, 187, 187, 0.664);
}

section .progress-bar .progress{
  background-color: var(--primary-blue);
  width: 0%;
  transition: 1.3s;
  border-radius: 0%;
}


.skills span{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.transY{
  transform: translateY(200px);
  transition: 1s;
  opacity: 0;
}

.services .content{
  margin-left: 60px;
  word-break: break-all;
}

.services .icon{
  width: 45px;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-blue);
  float: left;
  transition: 0.3s;
}

.services .icon i{
  font-size: 20px;
  color: #fff;
}

.services .item:hover .icon{
  background-color: #fff;
  border: 1.5px solid var(--primary-blue);
}

.services .item:hover i{
  color: var(--primary-blue);
}

.content .title{
  font-weight: 900;
  font-size: 1.2rem;
}




@media screen and (max-width:600px) {
  .right-section .text-cont h1{
    font-size: 2.8rem;
  }
}



@media screen and (max-width:1200px) {


  .row .left-section-cont{
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translateX(-300px);
    z-index: 1;
  }

  .row .show-left{
    transform: translateX(0px);
  }

  .menuBar{
    display: block;
  }

  .right-section-cont{
    width: 100% !important;
  }

  .cross-menu div:nth-child(1){
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
  }

  .cross-menu div:nth-child(2){
    width: 30px;
    transform: rotate(45deg);
  }
  
  .cross-menu div:nth-child(3){
    opacity: 0;
  }


  .row .right-section-cont{
    margin-left: 0%;
  }
}



/* Tesimonials Section */

.testimonial .container{
  width: 100%;
  height: min-content;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}

.testimonial .inner-container{
  width: 266.6%;
  display: flex;
  justify-content: space-evenly;
  height: min-content;
  transition: all 1s;
}

.testimonial  .container .item{
  width: 33.3%;
  user-select: none;
  padding: 0 1vw;
  text-align: center;
}

.testimonial  .container{
  max-width: 100% !important;
}

.testimonial .item .box{
  padding: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
  word-break: break-all;
}

.testimonial .item i{
  position: relative;
  bottom: 5px;
  color: var(--primary-blue);
}

.testimonial .item .box::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0% 0%,100% 0%,50% 100%,0% 0%);
    width: 50px;
    height: 25px;
    bottom: -25px;
}

.testimonial .item .profile-icon{
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 40px auto 20px auto;
  overflow: hidden;
}

.testimonial .profile-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

::-webkit-scrollbar{
  display: none;
}

.testimonial .prev,.testimonial .next{
    padding: 0.8rem 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-blue);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 2.5px solid var(--primary-blue);
}

.testimonial .prev:hover,.testimonial .next:hover{
    background-color: #fff;
}

.testimonial .prev:hover i,.testimonial .next:hover i{
  color: var(--primary-blue);
}

.testimonial .next{
  right: 0;
  border-right:none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.testimonial .prev{
  border-left:none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width:990px) {

  .testimonial .inner-container{
    width: min-content;
  }

  .testimonial .container .item{
    width:calc(100vw);
      padding: 0 4vw;
  }
}


/* Contact Section */

.contact iframe{
  width: 100%;
  height: 300px;
}

.contact .left-contact,.right-contact{
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.12),0 0 8px 6px rgba(0,0,0,0.12),0 0 14px 5px rgba(0,0,0,0.12);
}

.contact .left-contact{
  width: 38%;
}

.contact .right-contact{
  width: 60%;
}

.contact .icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgb(140 198 233 / 22%);
  justify-content: center;
  float: left;
  color: var(--primary-blue);
}

.contact .left-contact .text{
  margin-left: 70px;
}

.contact .left-contact .text p{
  color: #173b6c;
}

.contact input{
  width: 100%;
  height: 45px;
  padding: 20px;
}

.contact textarea{
  width: 100%;
  padding: 20px;
}

.right-contact .send{
  margin:auto;
  width: fit-content;
}

.right-contact .send button{
  background-color: var(--primary-blue);
  margin: auto;
  border: none;
}

@media screen and (max-width:768px) {
  .contact .left-contact{
    width: 100%;
    box-shadow: none;
  }
  
  .contact .right-contact{
    width: 100%;
    margin-top: 30px;
    box-shadow: none;
  }
}

/* About Section */
.About i{
  color: rgb(0, 162, 255);
}