*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  overflow-x: hidden;
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
}

ul{
  padding-left: 0% !important;
  list-style: none;
}
a{
  text-decoration: none !important;
}

.main-cont{
  padding: 0% !important;
  position: relative;
  overflow: hidden;
}

.menuBar{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.menuBar div{
  width: 30px;
  height: 3px;
  margin-top: 4px;
  background-color: #ffffff;
  transition: 0.2s;
  
}

.menuBar div:nth-child(2){
  width: 22px;
}

.menuBar div:nth-child(3){
  width: 13px;
}


.row .left-section-cont{
  width: 300px;
  top: 0%;
  padding:0%;
  overflow: hidden;
  transition: 0.7s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.left-section{
  height: 100vh;
  width: 100%;
  background-color: #040b14;
  padding: 25px;

}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px auto;
  position: relative;
}

.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.profile::before{
  content: '';
  position: absolute;
  width: 115px;
  height: 115px;
  background-color: rgba(255,255,255,0.2);
  top: -7.5px;
  left: -7.5px;
  border-radius: 50%;
  animation: size 2s linear infinite;
  
}

@keyframes size {
  0%,100%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.03);
  }
}

.left-section .social-icons a i{
  color: #fff;
  font-size: 16px;
}

.left-section .social-icons li{
  background-color: rgba(255,255,255,0.2);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.left-section .social-icons li:hover{
  background-color: rgb(47, 235, 235);
}

.menu i{
  color: #a8a9b4;
  margin-right: 30px;
  font-size: 18px;
  transition: 0.2s;
}

.menu li{
  padding: 20px;
  padding-left: 10px;
}

.left-section .menu a{
  display: inline-block;
  color: #a8a9b4;
}

.left-section .menu a:hover span{
    color: rgb(255, 255, 255);
}

.left-section .menu a:hover i{
    color:rgb(47, 235, 235);
    box-shadow: 0 0 5px rgb(47, 235, 235),0 0 15px rgb(47, 235, 235),0 0 25px rgba(47, 235, 235,0.5);
    border-radius: 50%;
}


/* right section starts */

.row .right-section-cont{
  width: calc(100% - 300px);
  padding:0%;
  overflow: hidden;
  margin-left: 300px;
}


.right-section header{
  width: 100%;
  min-height: 400px;
  height: 100vh;
  color: #fff;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
}


.right-section .text-cont{
  position: absolute;
  left: 10%;
  top: 20%;
}

.right-section .text-cont h1{
  font-size: 4rem;
}

.right-section .text-cont .typing{
  font-weight: bold;
  position: relative;
  transition: 0.5s;
}

.typing::after{
    content: "";
    position: absolute;
    right: -6px;
    width: 2.5px;
    height: 100%;
    background-color: white;
    animation: blink 0.5s linear infinite;
}

.typing::before{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: rgb(47, 235, 235);
  transform: 0.2s;
}

@keyframes blink {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 0.7;
  }
}


.head-slider{
  background-color: black;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.head-slider .inner-slider{
  width: calc(100% * 3);
  height: 100%;
  display: flex;
}

.inner-slider .item{
  height: 100%;
  width: calc(100% / 3);
  position: relative;
}

.inner-slider .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-dots .dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(230, 228, 228, 0.589);
  z-index: 1;
  cursor: pointer;
}

.slider-dots .dot-bg{
  background-color: rgb(98, 233, 238);
  box-shadow:0 0 0 2px rgba(98, 233, 238, 0.366),
  0 0 0 8px rgba(98, 233, 238, 0.2);
}

.slide{
  animation: slideAnimate 1s linear;
}

@keyframes slideAnimate{
  0%{
      transform: scale(2);
  }

  100%{
      transform: scale(1);
  }
}



section{
  background-color: rgb(140 198 233 / 22%);
}


.section-heading{
  color: #173b6c;
  position: relative;
}

.section-heading::after{
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: rgb(0, 162, 255);
  left: 0%;
  bottom: -4px;
}

section .progress-bar{
  height: 8px;
  width: 100%;
  background-color: rgba(146, 143, 143, 0.664);
}

section .progress-bar .progress{
  background-color: rgb(27, 123, 248);
  width: 0%;
  transition: 1.3s;
  border-radius: 0%;
}


.skills span{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.transY{
  transform: translateY(200px);
  transition: 1s;
  opacity: 0;
}









@media screen and (max-width:800px) {
  .row .left-section-cont{
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translateX(-300px);
    z-index: 1;
  }

  .row .show-left{
    transform: translateX(0px);
  }

  .menuBar{
    display: block;
  }

  .right-section-cont{
    width: 100% !important;
  }

  .cross-menu div:nth-child(1){
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
  }

  .cross-menu div:nth-child(2){
    width: 30px;
    transform: rotate(45deg);
  }
  
  .cross-menu div:nth-child(3){
    opacity: 0;
  }

  .row .right-section-cont{
    margin-left: 0%;
  }

}

@media screen and (max-width:600px) {
  .right-section .text-cont h1{
    font-size: 2.8rem;
  }
}

